{{#partial "title"}}All course ideas{{/partial}}

{{#partial "content"}}
    <h1>All course ideas</h1>

    <ul>
        {{#each ideas}}
            <li>
                <form action="/ideas/{{ slug }}/vote" method="post">
                    <a href="/ideas/{{ slug }}">{{ title }}</a> ({{ voteCount }} votes)
                    <button>Vote</button>
                </form>
            </li>
        {{/each}}
    </ul>

    <form action="/ideas" method="post">
        <input type="text" name="title" placeholder="What's your idea?">
        <button>Suggest!</button>
    </form>
{{/partial}}

{{> layout.hbs }}