{{#partial "title"}}All course ideas{{/partial}}

{{#partial "content"}}
    <h1>Current ideas</h1>

    <ul>
        {{#each ideas}}
            <li>{{ title }}</li>
        {{/each}}
    </ul>

    <form action="/ideas" method="post">
        <input type="text" name="title" placeholder="What's your idea?">
        <button>Suggest!</button>
    </form>
{{/partial}}

{{> layout.hbs }}