{{#if username }}
    {{#partial "title"}}Welcome {{ username }}!{{/partial}}

    {{#partial "content"}}
        <h1>Welcome {{ username }}!</h1>

        <p>View <a href="/ideas">all course ideas</a></p>
    {{/partial}}
{{ else }}
    {{#partial "title"}}Welcome folks!{{/partial}}

    {{#partial "content"}}
        <h1>Welcome folks!</h1>
        <form action="/sign-in" method="post">
            <input placeholder="Enter your user name" name="username" type="text">
            <button>Sign in</button>
        </form>
    {{/partial}}
{{/if}}

{{> layout.hbs }}